<!-- <p>
  donatehome works!
</p>
<header class="topbar">
  <div class="brand">OUR SITE</div>
  <nav>
    <a mat-button>Our Mission</a>
    <a mat-button>News</a>
    <a mat-button>Get involved</a>
  </nav>
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
</header> -->

<section class="hero">
  <div class="hero-copy">
    <h1>
      Learning Lights the Continent <br>
      Please help our charity <br>
      Donate now

    </h1>
    <div class="lines">
      <span></span><span></span><span></span>
    </div>
  </div>

  <div class="box-wrap">
    <app-donateaction></app-donateaction>
  </div>
</section>
