<mat-card>
  <mat-card-header>
    <!-- <mat-card-title>Donate Now</mat-card-title> -->
  </mat-card-header>
  <mat-card-content>
    <form class="donate-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput type="number" min="1" required />
        <span matSuffix>GBP</span>
      </mat-form-field>
      <div class="actions">
        <button mat-button color="primary" type="submit">Donate</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
