<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 class="donate-title" id="donate-form-title">Donate Now</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="donate-form" aria-labelledby="donate-form-title" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required autocomplete="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">Email is required</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">Invalid email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required autocomplete="name" />
        <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput type="number" min="1" formControlName="amount" required autocomplete="off" />
        <span matSuffix>US$ &nbsp;</span>
        <mat-error *ngIf="form.get('amount')?.hasError('required') && form.get('amount')?.touched">Amount is required</mat-error>
        <mat-error *ngIf="form.get('amount')?.hasError('min') && form.get('amount')?.touched">Minimum 1 GBP</mat-error>
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" style="background-color: blue;">Donate</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
